<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h4>Demo Project</h4></a>
        </div>
        <button class="btn btn-outline-success" (click)="Login()" type="button">Login</button>
      </nav>
    </header>
    <main>
    
    </main>
    <footer class="footer fixed-bottom bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2023 Your Company
                </div>
                <div class="col-md-6 text-right">
                    Contact Us: contact@yourcompany.com
                </div>
            </div>
        </div>
    </footer>
    
